# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Conda
# ===============================
.conda/
env/
envs/
*.conda

# ===============================
# Environment / OS
# ===============================
.DS_Store
.env

# ===============================
# Data (IMPORTANT)
# ===============================
data/raw/
data/interim/
data/processed/

# ===============================
# Outputs
# ===============================
outputs/
reports/

# ===============================
# IDEs
# ===============================
.vscode/
.idea/

# ===============================
# Kaggle Dataset
# ===============================
kaggle-data-set/
